.editableColumn {
    /* width: 300px; */
    padding: 20px;
    /* background-color: #f0f0f0; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-left: 20px;
  }
  
  .editableColumn h3 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .editableColumn label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  .editableField {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    background-color: #ffffff;
    border: 2px solid #cccccc; /* Slightly darker border for the editable fields */
    border-radius: 4px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .editableField:focus {
    outline: none;
    border-color: #4CAF50; /* Highlight focus with a green border */
  }
  